:root {
    --text-color: #222;
    --card-bg-color: #f9f9f9;
  }
  
  [data-theme='dark'] {
    --text-color: #fff;
    --card-bg-color: #333;
  }
  
  .container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    color: var(--text-color);
  }
  
  .title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
  }
  
  .achievementCard {
    background-color: var(--card-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }
  
  .image {
    width: 100%;
    max-width: 450px; /* Increase the maximum width of the image */
    border-radius: 10px;
  }
  
  .textContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  
  .achievementTitle {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
  }
  
  .date {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .description {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto';
    line-height: 1.5;
  }
  
  @media (min-width: 600px) {
    .achievementCard {
      flex-direction: row;
    }
  
    .textContent {
      align-items: flex-start;
      max-width: 500px; /* Ensure the text content has a maximum width */
    }
  }
  